<div>
    <form (ngSubmit)="addProduct()" novalidate >
        <ng2-completer name="productName"
                       [(ngModel)]="searchStr"
                       [datasource]="productSource"
                       [clearUnselected]="true"
                       [minSearchLength]="0"
                       [placeholder]="localState.placeholder"
                       (selected)="onSelected($event)">
        </ng2-completer>
    </form>
</div>
<ul class="collection with-header">
    <li *ngFor="let product of store.state.products" class="collection-item">
        <div>{{ product.name }} <span class="teal-text" *ngIf="product.category">{{product.category.name}}</span></div>
    </li>
</ul>