<div class="container">
    <div class="row">
        <h4>Détail des courses</h4>
        <p class="grey-text text-darken-4">
          <i class="small material-icons">room</i> <a href="#">{{result.store.name}}</a> - {{result.distance}}
          <rating [stars]="result.store.rate"></rating>
        </p>
        <div class="grey-text text-darken-2">
            <ul>
                <li *ngFor="let product of result.products">
                    <span>{{product.product.name}}</span>
                    <span>
                        <rating [stars]="product.rate"></rating>
                    </span>
                    <span>{{ product.price }} &euro;</span>
                    <div><img src="assets/img/product.png" /></div>
                </li>
            </ul>
        </div>
        <div class="blue-text">
            <ul>
                <li>
                    <label>Notes :</label>
                    <rating [stars]="result.summary.rate"></rating>
                </li>
                <li><label>Prix :</label>
                    {{result.summary.price}} &euro;
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>